.cityzen{
  @include introMob;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.3rem $shadow;
  height: 35rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
  overflow: hidden;
  h2{
    font-size: 4.5rem;
    color: $white;
    mix-blend-mode: difference;
    font-weight: 300;
  }
}
h1{
  text-align: center;
  font-size: 2.5rem;
  color: $white;
  font-weight: 400;
  margin-bottom: 2rem;
}
.graphic{
  @include introMob;
}
@media screen and (min-width: 767px){
  .cityzen{
    @include introTab;
    margin-left: 2rem;
    height: 25rem;
  }
  h1{
    margin-bottom: 4rem;
  }
  .graphic{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media screen and (min-width: 1024px){
  .cityzen{
    @include introDesk;
    height: 30rem;
    width: calc(50% - 2rem);
  }
  .graphic{
    @include introDesk;
    height: 35rem;
    width: calc(50% - 2rem);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px){

}