.formContainer{
  @include introMob;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.3rem $shadow;
  height: 20rem;
  margin-bottom: 1rem;
  background-color: $blue;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url(./../../../../public/assets/images/overlay.png);
  &__title{
    font-size: 2.5rem;
    height: 5rem;
    text-align: center;
    font-weight: 300;
  }
  form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: calc(100% - 5rem);
  }
  &__search{
    border:0;
    box-shadow: 0.1rem 0.1rem 0.3rem $shadow;
    width: 100%;
    border-radius: 2rem;
    height: 3rem;
    padding-left: 1rem;
    font-size: 2rem;
    color: $grey;
    
  }
  &__button{
    box-shadow: 0.1rem 0.1rem 0.3rem $shadow;
    border: 0;
    width: 10rem;
    height: 2rem;
    font-size: 1.3rem;
    color: $grey;
    border-radius: 0.5rem;
    background-color: $white;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url(./../../../../public/assets/images/overlay.png);
    &:hover{
      transform: scale(1.1);
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(./../../../../public/assets/images/overlay.png);
    }
  }
  &__link{
    font-size: 1rem;
    color: $grey;
    i{
      font-size: 1rem;
      color: $white;
      text-shadow: 0.1rem 0.1rem 0 $shadow;
      margin-right: 0.3rem;
    }
  }
}
@media screen and (min-width: 767px){
  .formContainer{
    @include introTab;
    height: 25rem;
    &__button{
      width: 15rem;
      height: 4rem;
    }

  }
}
@media screen and (min-width: 1024px){
  .formContainer{
    @include introDesk;
    height: 30rem;
    width: calc(50% - 2rem);
    &__title{
      height: 7rem;
    }
    form{
      height: calc(100% - 7rem);
    }
  }
}
@media screen and (min-width: 1440px){
  .formContainer{
    @include introLarge;
  }
}