@mixin introMob{
	max-width: 320px;
	margin: 0 auto;
	padding: 2rem;
}
@mixin introTab{
	max-width: 767px;
	margin: 0 auto;
	padding: 4rem;
}
@mixin introDesk{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0rem;
}
@mixin introLarge{
	max-width: none;
}